.phrases {
    height: 90vh;
    
      text-align:center;
      align-items: center;
      font-weight:bold;
      background-image: url("https://boutique.citeduchocolat.com/media/magefan_blog/bannieres_blog/Visuel_ambiance_BBC_No_l_2023_Les_festifs_Paysage.jpg");
      background-size: cover;
      
  }
  